*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cabecalho{
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {

    width: 25rem;
    font-size: 1.5em;
}
.menu{
    flex-grow: 10;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    margin: 0px 10px;
}

.cabecalho a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 33px 15px;
}

.menu a:hover{
    background-color: #4faddb;
    color: black;
}

.menu-toogle{
    display: none;
}
.setor{
    width: 75%;
}
.container{
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: row;
    margin:10px ;
    background-color:white;
    box-shadow:10px 5px 5px black;
    border-color: black;
}
.card{
    margin: 4px;
    width: 75%;
    background-color: hsl(210, 8%, 91%);
    padding: 10px 15px;
    border-radius: 13em/10em;
    box-shadow: 1px 2px hsla(0, 6%, 25%, 0.8);
}
.conhecimento{
    padding:10px 15px;
    background-color: #333;
    
}
.experience{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}











.card:hover{  
    border: 10px;
    border-color: 10px rgb(22, 160, 9);
    transform: scale(1.05);
    box-shadow:5px 5px 3px hsl(226, 19%, 40%);
}

.card:hover[alt="card-html"]{
    color: #dadfe2;
    background-color: hsl(24, 78%, 56%);
}
.card:hover[alt="card-css"]{
    background-color: hsl(200, 80%, 48%);
    color: #dadfe2;
}
.card:hover[alt="card-Flutter"]{
    background-color:#014483;
    color: hsl(200, 80%, 48%);
}
.card:hover[alt="card-js"]{
    background-color: hsl(59, 80%, 48%);
    color: #131414;
}
.card:hover[alt="card-react"]{
    background-color: hsl(200, 80%, 48%);
    color: #343536;
}
.card:hover[alt="card-vue"]{
    background-color: hsl(150, 71%, 50%);
    color: #5d6161;
}
.card:hover[alt="card-ajax"]{
    background-color: hsl(200, 80%, 48%);
    color: #dadfe2;
}
.card:hover[alt="card-angular"]{
    background-color: hsl(0, 80%, 48%);
    color: #dadfe2;
}






@media (max-width:1000px) {
    .menu{
        display: none;
    }    
}