*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cabecalho{
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 50px;
}
.menu{
    flex-grow: 10;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    margin: 0px 10px;
}

.cabecalho a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 33px 15px;
}

.menu a:hover{
    background-color: #4faddb;
    color: black;
}



.menu-toogle{
    display: none;
}